<html>
    <head>
        <link rel="stylesheet" href="/layout/vendor/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="/layout/css/giantswarm.css">

        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? '/layout/vendor/reveal.js/css/print/pdf.css' : '/layout/vendor/reveal.js/css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300,700|Roboto:100,200,300,700,300italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <div class="footer">
                    <img src="/layout/img/logo_simplified_white.svg" class="logo"/>
                    <img src="/layout/img/logo_simplified.svg" class="logo-dark"/>
                </div>
                <!-- Slides are separated by newline + three dashes + newline, vertical slides identical but two dashes -->
                <section data-markdown data-separator="^\n---\n$" data-separator-vertical="^\n--\n$">
                    <script type="text/template">
<!-- MD FILE INSERT -->
                    </script>
                </section>
            </div>
        </div>
        <script src="/layout/vendor/reveal.js/lib/js/head.min.js"></script>
        <script src="/layout/vendor/reveal.js/js/reveal.js"></script>
        <script type="text/javascript">
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,
                transition: 'fade',
                backgroundTransition: 'none',
                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '/layout/vendor/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '/layout/vendor/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '/layout/vendor/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '/layout/vendor/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: '/layout/vendor/reveal.js/plugin/notes/notes.js' }
                ]
            });
        </script>
    </body>
</html>
